/*
----------------------------------------------------------------------
Site Name: artist-wb
Author: Adam CW Houston
Version: 0.7

	CONTENT
	 - Links
	 - Primary Menu
	   - Header
	   - Mobile
	   - Submenus
	 - Social Menu
	 - Post Navigation

----------------------------------------------------------------------
*/

//Navigation Variables


// Content Wrapper

// .wrap {
//   width: 1040px;
// }

#content {
	position: relative;
	padding-top: 1.5em;
	left:0;
	&.toggled-on { // to slide with mobile menu
		left: -100vw;
	}
}

//  Base Content
//----------------------------------------------------------------------

.hentry { //slate slab
	
	border-radius: 3px;
	margin-bottom: 1.5em;
	border:1px solid rgba(1,1,1, 0.75);
	background-color: rgb(40, 38, 38);
	@include css-gradient($from: rgba(36, 34, 34, 1.00), $to: rgba(40, 38, 38, 1.00));
	background-image: url('../../assets/img/slate.png');
	box-shadow: 
		0 0 200px rgba(0, 0, 0, 0.3),
		0 0 10px rgba(20, 20, 20, 0.6),
		1px 3px 8px rgba(0, 0, 0, 0.45),
		inset 0 0 25px rgba(0, 0, 0, 0.2),
		inset 0 0 10px rgba(0, 0, 0, 0.1),
		inset 0 1px 3px 3px rgba(122, 117, 113, 0.4),
		inset 0 -2px 0 rgba(0, 0, 0, 0.3);
	

	header {
		padding: 1.5em;
	}

	footer {
		padding: 0.5em 1.5em 0.5em 1.5em;
		box-shadow: // grooved line
		0 -1px 0px 1px rgba(0, 0, 0, 0.18),
		inset 0 1px 1px 0px rgba(122, 117, 113, 0.50);

		p {
			margin: 0;
		}
	}

} /* end .hentry */

//  Base Pages
//----------------------------------------------------------------------
		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

//  Blog / Buzz / Projects
//----------------------------------------------------------------------


//  Base Posts
//----------------------------------------------------------------------

//  Posts
//----------------------------------------------------------------------




//  WORDPRESS BODY CLASSES
//	to style a page via class
//----------------------------------------------------------------------

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */